<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="package com.green.application.mapper.ApplicationsMapper">  

	<insert id="setApplicationData">
		 INSERT 
		 	INTO 
		 	APPLICATIONS (
			      APPLICATIONS_IDX
			    , USER_RESUME_IDX
			    , COMPANY_RECRUIT_IDX
			    , APPLICATION_STATUS
		) VALUES (
		      APPLICATIONS_SEQ.NEXTVAL
		    , #{ user_resume_idx }
			, #{ company_recruit_idx }
			, #{ application_status }
		);
	
	</insert>


</mapper>