<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.company.recruit.mapper.CompanyRecruitMapper">  
   
 	<insert id="insertUserResume">
 	
 	</insert>
 	
 	<select id="selectCompanyRecruitList">
 		SELECT
		    COMPANY_ID,
		    COMPANY_PASSWD,
		    COMPANY_USER_NAME,
		    COMPANY_PHONE,
		    COMPANY_NAME,
		    COMPANY_BCODE,
		    COMPANY_BOSS_NAME,
		    COMPANY_EMAIL,
		    COMPANY_USER_EMAIL,
		    COMPANY_REGDATE,
		    COMPANY_ESTABLISH
		FROM
		    COMPANY_USERS
		WHERE 
			COMPANY_ID = #{company_id}
 	</select>
 	
 	<select id="getCompanyRecruit">
 		SELECT
		    *
		FROM
		    COMPANY_RECRUIT CR
		JOIN
		    COMMON_COMPANY_RECRUIT_SKILL CCRS
		ON
		    CR.COMPANY_RECRUIT_IDX = CCRS.COMPANY_RECRUIT_IDX
		WHERE
		    CR.COMPANY_RECRUIT_IDX = #{company_recruit_idx}
 		
 	</select>
 	
 	<select id="getCompanyRecruitAlications">
 		SELECT
		 *
		FROM
		    COMPANY_RECRUIT CR
		JOIN 
		    APPLICATIONS A
		ON
		    CR.COMPANY_RECRUIT_IDX = A.COMPANY_RECRUIT_IDX
		WHERE
    		CR.COMPANY_RECRUIT_IDX = #{company_recruit_idx}
 	</select>
  
  
</mapper>

















