<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.company.recruit.mapper.CompanyRecruitMapper">  

 
 <select id="companyRecruitList">
 
 SELECT
    COMPANY_RECRUIT_IDX,
    COMPANY_ID,
    COMPANY_NAME,
    RECRUIT_TITLE,
    COMPANY_JOB,
    GETMAN,
    REGION_IDX,
    COMPANY_ADDRESS,
    COMPANY_INFO,
    APPLICATION_DEADLINE,
    COMPANY_ESTABLISH,
    COMPANY_RECRUIT_REGDATE,
    VIEWS
    
 FROM
    COMPANY_RECRUIT
    
 ORDER BY
 	VIEWS DESC
 FETCH FIRST 6 ROWS ONLY
	 
 </select>
 
 <select id="searchByKeyword" parameterType="String" resultType="com.green.company.recruit.vo.CompanyRecruitVo">
	SELECT * 
	FROM COMPANY_RECRUIT 
	WHERE RECRUIT_TITLE LIKE '%' || #{keyword} || '%'
 </select>
 

   
 	<insert id="insertUserResume">
 	
 	</insert>
 	
 	<select id="selectCompanyRecruitList">
 		SELECT
		    COMPANY_ID,
		    COMPANY_PASSWD,
		    COMPANY_USER_NAME,
		    COMPANY_PHONE,
		    COMPANY_NAME,
		    COMPANY_BCODE,
		    COMPANY_BOSS_NAME,
		    COMPANY_EMAIL,
		    COMPANY_USER_EMAIL,
		    COMPANY_REGDATE,
		    COMPANY_ESTABLISH
		FROM
		    COMPANY_USERS
		WHERE 
			COMPANY_ID = #{company_id}
 	</select>
 	
 	<select id="getCompanyRecruit">
 		SELECT
		    *
		FROM
		    COMPANY_RECRUIT CR
		JOIN
		    COMMON_COMPANY_RECRUIT_SKILL CCRS
		ON
		    CR.COMPANY_RECRUIT_IDX = CCRS.COMPANY_RECRUIT_IDX
		WHERE
		    CR.COMPANY_RECRUIT_IDX = #{company_recruit_idx}
 		
 	</select>
 	
 	<select id="getCompanyRecruitAlications">
 		SELECT
		 *
		FROM
		    COMPANY_RECRUIT CR
		JOIN 
		    APPLICATIONS A
		ON
		    CR.COMPANY_RECRUIT_IDX = A.COMPANY_RECRUIT_IDX
		WHERE
    		CR.COMPANY_RECRUIT_IDX = #{company_recruit_idx}
 	</select>
  	
  	<insert id="setCompanyRecruitDate">
  		INSERT 
  			INTO 
  		COMPANY_RECRUIT (
		    COMPANY_RECRUIT_IDX,
		    COMPANY_ID,
		    COMPANY_NAME,
		    RECRUIT_TITLE,
		    COMPANY_JOB,
		    GETMAN,
		    REGION_IDX,
		    COMPANY_ADDRESS,
		    COMPANY_INFO,
		    APPLICATION_DEADLINE,
		    COMPANY_ESTABLISH,
		    COMPANY_RECRUIT_REGDATE,
    		VIEWS
				) VALUES (
				      COMPANY_RECRUIT_SEQ.NEXTVAL,
				      #{company_id}
				    , #{company_name}
				    , #{recruit_title}
				    , #{company_job}
				    , #{getman}
				    , #{region_idx}
				    , #{company_address}
				    , #{company_info}
				    , #{application_deadline}
				    , #{company_establish}
				    , #{company_recruit_regdate}
		    		, #{views}
				)
  	</insert>
  

</mapper>

















