<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.company.users.mapper.CompanyUserMapper">

	<!-- insertUser -->
	<insert id="insertCompanyUser">
	INSERT INTO COMPANY_USERS (
	     COMPANY_ID
	   , COMPANY_PASSWD
	   , COMPANY_USER_NAME
	   , COMPANY_PHONE
	   , COMPANY_NAME
	   , COMPANY_BCODE
	   , COMPANY_BOSS_NAME
	   , COMPANY_EMAIL
	   , COMPANY_USER_EMAIL
	   , COMPANY_REGDATE
	   , COMPANY_ESTABLISH

	) VALUES (
	      #{ company_id }
	    , #{ company_passwd }
	    , #{ company_user_name }
	    , #{ company_phone }
	    , #{ company_name }
	    , #{ company_bcode }
	    , #{ company_boss_name }
	    , #{ company_email }
	    , #{ company_user_email }
	    , SYSDATE 
	    , #{ company_establish }
	)
	</insert>
	
	<!-- getCompanyUserList -->
	<select id="getCompanyUserList">
	SELECT
	    COMPANY_ID
	   , COMPANY_PASSWD
	   , COMPANY_USER_NAME
	   , COMPANY_PHONE
	   , COMPANY_NAME
	   , COMPANY_BCODE
	   , COMPANY_BOSS_NAME
	   , COMPANY_EMAIL
	   , COMPANY_REGDATE
	   , COMPANY_ESTABLISH
	FROM 
		COMPANY_USERS
	ORDER BY 
		COMPANY_ID ASC    
	</select>

	<select id="getCompanyUser">
	SELECT
	    COMPANY_ID
	   , COMPANY_PASSWD
	   , COMPANY_USER_NAME
	   , COMPANY_PHONE
	   , COMPANY_NAME
	   , COMPANY_BCODE
	   , COMPANY_BOSS_NAME
	   , COMPANY_EMAIL
	   , COMPANY_REGDATE
	   , COMPANY_ESTABLISH
	FROM 
		COMPANY_USERS
	WHERE 
		COMPANY_ID = #{ company_id }
	</select>
	
	<select id="getCompanyUserById">
	    SELECT 
	    COMPANY_ID
	   , COMPANY_PASSWD
	   , COMPANY_USER_NAME
	   , COMPANY_PHONE
	   , COMPANY_NAME
	   , COMPANY_BCODE
	   , COMPANY_BOSS_NAME
	   , COMPANY_EMAIL
	   , COMPANY_REGDATE
	   , COMPANY_ESTABLISH
	FROM 
		COMPANY_USERS
	WHERE 
		COMPANY_ID = #{ company_id }
	</select>
	
	<update id="updateCompanyUser">
		UPDATE COMPANY_USERS
		SET	   COMPANY_PASSWD = #{ company_passwd }
			   , COMPANY_USER_NAME = #{ company_user_name }
			   , COMPANY_PHONE = #{ company_phone }
			   , COMPANY_NAME = #{ company_name }
			   , COMPANY_BCODE = #{ company_bcode }
			   , COMPANY_BOSS_NAME = #{ company_boss_name }
			   , COMPANY_EMAIL = #{ company_email }
			   , COMPANY_ESTABLISH = #{ company_establish }
		WHERE 
			COMPANY_ID = #{ company_id }
	</update>
	
	<delete id="deleteCompanyUser">
	    DELETE FROM 
	    	COMPANY_USERS
		WHERE
       		COMPANY_ID = #{ company_id }
    
	</delete>


   <!-- login user_id : arg0,  param1,  user_passwd : arg1,  param2-->
   <select  id="login">
     SELECT
	     COMPANY_ID
	   , COMPANY_PASSWD
	   , COMPANY_USER_NAME
	   , COMPANY_PHONE
	   , COMPANY_NAME
	   , COMPANY_BCODE
	   , COMPANY_BOSS_NAME
	   , COMPANY_EMAIL
	   , COMPANY_REGDATE
	   , COMPANY_ESTABLISH
	FROM
	    COMPANY_USERS
	WHERE 
	    COMPANY_ID = #{ arg0 }
	 AND
	    COMPANY_PASSWD = #{ arg1 }
   </select>

</mapper>
