<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.users.mapper.UserMapper">

	<!-- 회원가입 -->
	<insert id="insertUser">
	INSERT INTO USERS (
	    USER_ID
	   ,USER_PASSWD
	   ,USER_NAME
	   ,USER_PHONE
	   ,USER_EMAIL
	   ,USER_REGDATE
	) VALUES (
	    #{ user_id },
	    #{ user_passwd },
	    #{ user_name },
	    #{ user_phone },
	    #{ user_email },
	    SYSDATE
	)
	</insert>
	
	<!-- getUserList -->
	<select id="getUserList">
	SELECT
	    USER_ID
	   ,USER_PASSWD
	   ,USER_NAME
	   ,USER_PHONE
	   ,USER_EMAIL
	   ,USER_REGDATE 
	FROM USERS
	ORDER BY USER_ID ASC    
	</select>

	<select id="getUser">
	SELECT
	    USER_ID
	   ,USER_PASSWD
	   ,USER_NAME
	   ,USER_PHONE
	   ,USER_EMAIL
	   ,USER_REGDATE
	FROM USERS
	WHERE USER_ID = #{ user_id }
	</select>
	
	<select id="getUserById">
	    SELECT USER_ID, USER_PASSWD, USER_NAME, USER_PHONE, USER_EMAIL, USER_REGDATE
	    FROM USERS 
	    WHERE USER_ID = #{user_id}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="updateUser">
		UPDATE USERS
		SET  
		USER_PASSWD = #{ user_passwd }
		, USER_NAME	 = #{ user_name }
		, USER_PHONE = #{ user_phone }
		, USER_EMAIL = #{ user_email }
		WHERE USER_ID = #{ user_id }
	</update>

	<!-- 회원삭제of탈퇴 -->
	<delete id="deleteUser">
		DELETE FROM USERS 
		WHERE USER_ID=#{ user_id }
	</delete>

   <!-- login user_id : arg0, param1, user_passwd : arg1, param2-->
   <select  id="login">
     SELECT
	    USER_ID,
	    USER_PASSWD,
	    USER_NAME,
	    USER_PHONE,
	    USER_EMAIL,
	    USER_REGDATE
	FROM
	    USERS
	WHERE 
	    USER_ID = #{ arg0 }
	 AND
	    USER_PASSWD = #{ arg1 }
   </select>

</mapper>
